@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Montserrat:wght@200&family=Oswald&family=Quicksand&family=Titillium+Web:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Titillium Web', sans-serif;
}



body {
    display: flex;
    flex-direction: column;
}

